  body {
    background-color: #3f4453;


    
  }


.navBar {
  list-style-type: none;
  margin: 0;
  padding: 20;
  background-color: darkblue;
}

li:hover {
  border-color: green;
}
li {
  display:inline;
  padding: 20;
  color: white;
}

li:visited{
  color: white;
}
