  body {
    background-color: #3f4453;


    
  }


.navBar {
  list-style-type: none;
  margin: 0;
  padding: 20;
  background-color: darkblue;
}

.list:hover {
  border-color: green;
}
.list {
  display:inline;
  padding: 20;
  color: white;
}

.list:visited{
  color: white;
}
a {
  font-weight: bold;
}